.application {
    background: transparent;
}

#EntryBox {
    font-family: "Product Sans", sans-serif;
    background: rgba(40, 40, 40, 0.95);
    padding: 0.5em;
}

#EntryInput {
    all: unset;
    background: rgba(0, 0, 0, 0);
    color: #d5c4a1;
    font-size: 2em;
    font-weight: 400;
    caret-color: #d5c4a1;
}


#EntryInput placeholder {
    color: rgba(213, 196, 161, 0.5);
}

#Tip {
    color: #d5c4a1;
    font-size: .9em;
    font-style: italic;
}

#DynamicBox {
    background: transparent;
    color: #d5c4a1;
    font-size: 1.2em;
    font-weight: 400;
}

#Section {
    border-bottom: 1px solid #504945;
    margin-bottom: 1em;
    padding-bottom: .5em;
}

#SectionTitle {
    color: #d5c4a1;
    margin-bottom: .2em;
    font-size: 1.1em;
    font-weight: 900;
}

#Content.mathematical {
    font-family: "Product Sans", sans-serif;
    font-size: 4em;
    font-weight: 900;
    color: #d5c4a1;
}

.error {
    font-weight: 900;
    color: #cc241d;
}
